*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', serif;
}


/* CLASS UTILITY */
.text-color-white{
    color: white;
}

.text-color-grey{
    color: grey;
}

.text-color-grey-list{
    color: grey;
}
/* END CLASS UTILITY */


.container-fluid{
    width: 100%;
    height: 100vh;
}

.main{
    width: 100%;
    height: calc(100vh - 90px);
    background-color: hsl(219deg 26% 11%);
}




/* SIDE-BAR */
.side-bar{
    background-color: coral;
    border: 1px solid black;
    height: calc(100vh - 90px);
    width: 20%;
}







.content{
    height: 100%;
    width: 80%;
    overflow-y: scroll;
}

.topbar-fixed{
    opacity: 0.9;
    width: 100%;
    height: 80px;
    position: fixed;
    background-color: hsl(222deg 38% 5%);
    
    justify-content: space-around;
    align-items: center;
    padding-right: 20px;
}

.button-topbar{
    border: 1px solid white;
    border-radius: 20px;
    padding: 5px 10px;
}

.container-content{
    width: 100%;
    /* height: 100vh; */
    /* background-color: blue; */
    /* margin: 100px 20px 20px 20px; */
    margin-top: 100px;
    padding-left: 15px;
}

.container-content ul{
    list-style: none;
    justify-content: center;
    margin-bottom: 20px;
}

.container-content ul li{
    margin-left: 20px;
}

.container-content ul li:first-child{
    border-bottom: 2px solid chartreuse;
}

.title-content{
    margin: 30px 0 10px 0;
}

.container-songs{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    /* padding-left: 15px; */
}

.song{
    width: calc(100% / 6 - 15px);
    margin-right: 15px;
    margin-top: 30px;
    margin-bottom: 20px;
    /* background-color: red; */
    /* border: 1px solid white; */
    /* height: 100px; */
}

.img-song img{
    width: 100%;
    height: 100%;
    /* per togliere margine dell'inline-block */
    display: block;
}

.img-song{
    position: relative;
}

.icon-play{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.icon-play i.far{
    font-size: 40px;
}

.description-img{
    text-align: center;
    margin-top: 10px;
}

.img-radius{
    border-radius: 100%;
    overflow-y: hidden;
}



/* FOOTER */
.footer{
    width: 100%;
    height: 90px;
    background-color: #282828;
    display: flex;
    flex-direction: row;
    align-items: center;
}

[class*="-footer"]{
    background-color: cadetblue;
    border: 1px solid black;
    height: 100%;
}

.central-footer{
    flex-grow: 1;
}








/* HOVER */


.button-topbar:hover{
    font-size: 20px;
}
.text-color-grey:hover{
    color: white;
}

.text-color-grey-list li:hover{
    color: white;
}


.music-bar:hover > .music-bar-white{
    background-color: chartreuse;
}

.music-bar:hover > .circle-bar{
    display: inline;
}

.song:hover .icon-play{
    opacity: 1;
}



/* MEDIA QUERY */
@media screen and (max-width: 576px) {
    .sidebar-content span, .sidebar-content .playlist{
        display: none;
    }
    .logo{
        width: 108px;
    }
    i.fa-home, i.fa-search, i.fa-book-open{
        font-size: 25px;
    }
}

@media screen and (max-width: 767px) {
    .song{
        width: calc(100% / 4 - 15px);
    }
}

@media screen and (max-width: 575px) {
    .song{
        width: calc(100% / 2 - 15px);
    }
}
