*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', serif;
}


/* CLASS UTILITY */
.text-color-white{
    color: white;
}

.text-color-grey{
    color: grey;
}

.text-color-grey-list{
    color: grey;
}
/* END CLASS UTILITY */


.container-fluid{
    width: 100%;
    height: 100vh;
}

.main{
    width: 100%;
    height: calc(100vh - 90px);
    background-color: hsl(219deg 26% 11%);
}


.side-bar{
    background-color: black;
    height: calc(100vh - 90px);
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0 0 10px;
    overflow: hidden;
    width: 255px;
}

.logo{
    width: 200px;
    margin-bottom: 20px;
}

.content{
    flex-grow: 1;
    width: calc(100% - 255px);
}

.sidebar-content {
    height: calc(100% - 80px);
    display: flex;
    flex-direction: column;
}

.sidebar-content, .sidebar-footer{
    line-height: 35px;
}

.sidebar-content-top{
    margin-bottom: 20px;
    align-items: center;
}

.playlist{
    flex-grow: 1;
    overflow-y: auto;
}

.sidebar-content span, ul.text-color-grey li{
    font-size: 15px;
}

.text-plus{
    align-items: center;
}

.icon-plus-sidebar{
    font-size: 40px;
}

.sidebar-footer .hr{
    width: 90%;
    height: 1px;
    background-color: grey;
}





.content{
    height: 100%;
    overflow-y: scroll;
}

.topbar-fixed{
    opacity: 0.9;
    width: 100%;
    height: 80px;
    position: fixed;
    background-color: hsl(222deg 38% 5%);
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
    z-index: 1;
}

.button-topbar{
    border: 1px solid white;
    border-radius: 20px;
    padding: 5px 10px;
}

.container-content{
    width: 100%;
    margin-top: 100px;
    padding-left: 15px;
}

.container-content ul{
    list-style: none;
    justify-content: center;
    margin-bottom: 20px;
}

.container-content ul li{
    margin-left: 20px;
}

.container-content ul li:first-child{
    border-bottom: 2px solid chartreuse;
}

.title-content{
    margin: 30px 0 10px 0;
}

.container-songs{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.song{
    width: calc(100% / 6 - 15px);
    margin-right: 15px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.img-song img{
    width: 100%;
    height: 100%;
    /* per togliere margine dell'inline-block */
    display: block;
}

.img-song{
    position: relative;
}

.icon-play{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.icon-play i.far{
    font-size: 40px;
}

.description-img{
    text-align: center;
    margin-top: 10px;
}

.img-radius{
    border-radius: 100%;
    overflow-y: hidden;
}



/* FOOTER */
.footer{
    width: 100%;
    height: 90px;
    background-color: #282828;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.item-footer:first-child{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.img-footer{
    width: 45px;
    height: 45px;
    margin: 0 5px 0 10px;
}

.desc-footer-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.icon{
    justify-content: space-around;
    align-items: center;
}

i{
    font-size: 15px;
    margin-right: 15px;
}

.item-footer:nth-child(2){
    flex-direction: column;
    flex-grow: 1;
    flex-wrap: nowrap;
}

.item-footer-central-buttons{
    justify-content: center;
    align-items: center;
}

.items-footer-central-music-bar{
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.music-bar{
    max-width: 300px;
    height: 5px;
    background-color: grey;
    margin: 0 15px;
    flex-grow: 1;
    position: relative;
}

.music-bar-white{
    width: 80px;
    height: 5px;
    background-color: white;
    flex-grow: 1;
}


.circle-bar{
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 100%;
    position: absolute;
    top: -5px;
    left: 75px;
    display: none;
}

.item-footer:last-child{
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
}

.music-bar-item-footer-right{
    width: 100px;
    height: 5px;
    background-color: grey;
    margin-right: 10px;
}

.music-bar-white-item-footer-right{
    width: 20px;
    height: 5px;
    background-color: white;
}



/* HOVER */
.button-topbar:hover{
    font-size: 20px;
}
.text-color-grey:hover{
    color: white;
}

.text-color-grey-list li:hover{
    color: white;
}


.music-bar:hover > .music-bar-white{
    background-color: chartreuse;
}

.music-bar:hover > .circle-bar{
    display: inline;
}

.song:hover .icon-play{
    opacity: 1;
}



/* MEDIA QUERY */
@media screen and (max-width: 576px) {
    .sidebar-content span, .sidebar-content .playlist{
        display: none;
    }
    .logo{
        width: 115px;
    }
    i.fa-home, i.fa-search, i.fa-book-open{
        font-size: 25px;
    }
    .side-bar{
        width: 50px;
    }
    .content{
        width: calc(100% - 50px);
    }
}

@media screen and (max-width: 767px) {
    .song{
        width: calc(100% / 4 - 15px);
    }
}

@media screen and (max-width: 575px) {
    .song{
        width: calc(100% / 2 - 15px);
    }
}
